/*
z-index:
    0: canvas
    10: ui
    25: game ui
    50: menu
*/

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: #272b37;
    font-family: 'Roboto', sans-serif;
}

#ui-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    user-select: none;
    z-index: 10;
}

#ui-container,
#canvas-container,
#game-ui,
#hud {
    pointer-events: none;
}
 
#canvas-container *,
.menu *,
.button {
    pointer-events: auto;
}

#canvas-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    text-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}

.title h1 {
    font-size: 60px;
}

.title h2 {
    margin-top: 20px;
    font-size: 35px;
}

.menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #414656;
    color: white;
    border: 1px solid #a6abbd;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.menu-title {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
}

.menu-input {
    width: 100%;
    height: 40px;
    border: 1px solid #a6abbd;
    border-radius: 5px;
    padding: 5px;
    background-color: #414656;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    margin-bottom: 15px;
    transition-duration: 100ms;
}

.menu-input:focus {
    background-color: #313440;
}

.button {
    height: 40px;
    border: 1px solid #a2acbd;
    border-radius: 5px;
    padding: 5px;
    background-color: #414656;
    color: white;
    font-size: 16px;
    outline: none;
    box-sizing: border-box;
    cursor: pointer;
    transition-duration: 100ms;
}

#connect-menu .button,
#connect-menu .menu-input {
    width: 100%;
}

#connect-menu .menu-title {
    margin-bottom: 30px;
}

#connect-menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}

.menu-button:hover {
    background-color: #313541;
}

.menu-button:active {
    background-color: #292c36;
}

#landing-section {
    transition-duration: 500ms;
}

#game-ui {
    width: 100%;
    height: 100%;
    z-index: 25;
}